@import "src/common/styles/variable";

.process-form{
  .form-level{
    padding: 20px 10px;
  }
  .form-level-content{
    & > *:not(:first-child){
      margin-top: 10px;
    }
  }
  .form-level-odd{
    .row{
      background: #e6f7ff;
    }
  }
  .form-level-even{
    .row{
      background: #fff7e6;
    }
  }
  .add-row{
    background: #fcffe6;
    .ant-btn{
      font-size: 12px;
      color: #666;
    }
  }
  .conditional-text{
    color: #006d75;
    font-size: 16px;
  }
  .delete-row{
    color: $color-danger;
    font-size: 16px;
    &:hover{
      cursor: pointer;
      opacity: .7;
    }
  }
  .link{
    &:hover{
      cursor: pointer;
      opacity: .7;
    }
  }
  .disabled{
    opacity: .7;
    cursor: not-allowed !important;
  }
  .sortable-handle{
    font-size: 18px;
    &:hover{
      cursor: move;
    }
  }
  .line-space{
    & > *{
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
  .row{
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    &:not(:last-child){
      margin-bottom: 10px;
    }
    .line{
      display: flex;
      align-items: center;
      min-height: 32px;
    }
    .snapshot{
      display: block;
      img{
        display: block;
        border-radius: 5px;
        border: 1px solid #d9d9d9;
        max-width: 32px;
      }
    }
  }
  .flex-align-center{
    display: flex;
    align-items: center;
  }
}
